
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Transpiled JavaScript files
# /dist
# /build

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarnclean

# dotenv environment variables file
.env
.env*.local
.env*.production
.env*.development
!.env.example

# Next.js build output
.next/
out/

# VSCode settings
.vscode/

# Turbo
.turbo

# IDX
.idx

# Cache files
*.tsbuildinfo
*.tsbuildinfo.readable.json
